<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/register-styles.css">
</head>
<body>
    <header>
        <section class="main-header">
            <div class="logo-search-bar">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo" width="120">
                
                <div class="search-bar">
                    <form action="/search" method="GET" class="search">
                            <input type="text" class="input-bar"placeholder="Buscar productos, marcas">
                            <button class="search-icon"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="buying-option">
                <i class="fas fa-hand-holding-usd"></i><span> Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </section>
        <nav class="nav-list">
            <ul class="nav-bar"type="none">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>    
			<ul class= "login-bar"type="none">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main >
        <h1 class="titulo-principal">
            Registro
        </h1>
        <section class="register-container">
            <form action="/register" method="POST">
                <div class="formulario">
                    <h2 class="titulo-secundario">Datos de usuario</h2>
                    <div>
                        <input class="input-formulario" type="text" name="nombre-usuario" placeholder="Nombre de usuario" minlength="5" required>
                    </div>
                    <div>
                        <input class="input-formulario" type="text" name="nombre-apellido" placeholder="Nombre y apellido" minlength="10" required>
                    </div>
                    <div>
                        <input class="input-formulario" type="email" name="email" placeholder="e-mail" minlength="10" required>
                    </div>
                    <div>
                        <input class="input-formulario" type="password" name="password" placeholder="Contraseña" minlength="8" required>
                    </div>
                    <div>
                        <input class="input-formulario" type="password" name="password2" placeholder="Confirmar contraseña" minlength="8" required>
                    </div>
                    <div class="entrada-archivo">
                        <span>Foto de usuario</span>
                        <input class="input-formulario" type="file" accept=".jpg, .png, .svg" required>
                    </div>
                    <h4 class="titulo-cuarto">
                        Perfil de Usuario
                    </h4>
                    <div class="radio-button">
                        <label>
                            <input class="input-formulario" type="radio" name="perfil-usuario" required>
                            Comprador
                        </label>
                        <label>
                            <input class="input-formulario" type="radio" name="perfil-usuario" required>
                            Vendedor
                        </label>
                    </div>
                    <h2 class="titulo-secundario">Datos personales</h2>
                    <div>
                        <h4 class="titulo-terciario">
                            Fecha de nacimiento
                        </h4>
                        <input class="input-formulario" type="date" name="fecha-nacimiento"  min="1922-01-01" max="2022-04-12" required>
                    </div>
                    <div>
                        <input class="input-formulario" type="text" name="domicilio" placeholder="Domicilio" required>
                    </div>
                    <h4 class="titulo-cuarto">
                        Intereses
                    </h4>
                    <div class="checkboxes">
                        <label>
                            <input class="input-formulario" type="checkbox" name="intereses" value="electro">
                            Electro
                        </label>
                        <label>
                            <input class="input-formulario" type="checkbox" name="intereses" value="moda">
                            Moda
                        </label>
                        <label>
                            <input class="input-formulario" type="checkbox" name="intereses" value="hogar">
                            Hogar
                        </label>
                        <label>
                            <input class="input-formulario" type="checkbox" name="intereses" value="jugueteria">
                            Jugueteria
                        </label>
                        <label>
                            <input class="input-formulario" type="checkbox" name="vida-sana" value="vida-sana">
                            Vida Sana
                        </label>
                    </div>
                    <div class="botones">
                        <button class="button-formulario" type="reset">Borrar</button>
                        <button class="button-formulario" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <section class="footer-section">
                <i class="fas fa-credit-card footer-icon"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="footer-section">
                <i class="fas fa-gift footer-icon"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="footer-section">
                <i class="fas fa-user-shield footer-icon"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
        </div>
        <p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>